* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial";
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
  /* color: black; */

  padding: 15px;
}
.nav-logo {
  font-weight: bold;
  font-size: 25px;
  background: url(../images/ravelogo2.png);
  background-size: cover;
  height: 80px;
  background-repeat: no-repeat;
  width: 100px;
  background-position: center;
}
.nav-content {
  display: flex;
  justify-content: space-between;
}
.nav-content li {
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  text-decoration: none;
}
.nav-content li a:hover {
  background-color: black;
  color: white;
  padding: 10px;
  transition: ease-in-out;
  transition: 2s;
  text-decoration: none;
}
.nav-content a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.nav-end {
  display: flex;
}
.nav-end i {
  padding-left: 10px;
}
.nav-content2 {
  display: none;
}
.bars {
  display: none;
}

.banner {
  display: flex;
  padding: 10px;
}
.rgt-side {
  width: 50%;
  background: url(../images/bg1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  border-radius: 20px;

  display: flex;

  padding: 2rem;
}
.rgt-side div {
  padding: 10px;
}
.rgt-side i {
  position: relative;
  top: 120px;
  font-weight: bold;
  color: black;
  font-size: 2em;
}
.rgt-side i:hover {
  color: #fff;
  background: #000;
  border-radius: 50%;
}
.image-fade {
  animation: imgFade 0.5s ease-in-out;
}
@keyframes imgFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left-side {
  width: 50%;
}
.left-side button {
  padding: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  width: 180px;
}
.left-side button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.left-side h1 {
  padding: 15px;
  font-size: 60px;
}
.left-side h3 {
  padding: 15px;
}
.trending-head {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  padding-top: 35px;
}
.trending {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.trend1 {
  padding: 20px;
}
.trend1-img {
  background: url(../images/even.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  border-radius: 10px;
  width: 100%;
}
.trend1-txt {
  padding-top: 20px;
}
.trend1-txt p {
  padding-bottom: 10px;
}
.trend1-btn {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 7px;
}
.trend2 {
  padding: 20px;
}
.trend2-img {
  background: url(../images/kadwel\ international.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  border-radius: 10px;
}
.trend2-txt {
  padding-top: 20px;
}
.trend2-txt p {
  padding-bottom: 10px;
}
.trend2-btn {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 7px;
}
.trend3 {
  padding: 20px;
}
.trend3-img {
  background: url(../images/the\ ones.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;

  border-radius: 10px;
}
.trend3-txt {
  padding-top: 20px;
}
.trend3-txt p {
  padding-bottom: 10px;
}
.trend3-btn {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 7px;
}

.trend4 {
  padding: 20px;
}
.trend4-img {
  background: url(../images/grizzy\ y2k.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  border-radius: 10px;
}
.trend4-txt {
  padding-top: 20px;
}
.trend4-txt p {
  padding-bottom: 10px;
}
.trend4-btn {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 7px;
}
.featured-events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
}

.featured-event-head {
  text-align: end;
  padding: 20px;
  font-size: 25px;
  padding-top: 35px;
  border-right: 3px solid black;
  /* margin-right: 20px; */
}
.featured-events-img {
  background: url(../images/outlawville.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  border-radius: 20px;
}
.featured-events-txt {
  line-height: 2;
}
.fet-button {
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.attend-btn {
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

/* footer */
.footer-head {
  background-color: #000;
  color: white;
  width: 100%;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}
.footer {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .bars {
    display: inline-block;
    margin-left: 50%;
    font-weight: bold;
  }
  .bars:hover {
    box-shadow: #000;
  }
  .bars i {
    display: block;
    font-size: 40px;
    height: 0.5vh;
  }

  .nav-end {
    display: none;
  }

  .banner {
    background: url(../images/bg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.1em;
    width: 100%;
    color: white;
  }
  .rgt-side {
    display: none;
  }

  .nav-content2 {
    display: block;
  }
  .nav-content2 ul {
    display: block;
    position: fixed;
    height: 70vh;

    top: 80px;
    left: -100%;
    width: 100%;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.5s;
    z-index: 1000;
  }
  .nav-content2 ul.show {
    left: 0;
  }

  .nav-content li {
    display: none;
  }

  .nav-content2 li {
    list-style: none;
    background: #000;
    line-height: 3;
  }
  .nav-content2 li:hover {
    padding: 10px;
  }
  .nav-content2 li a {
    text-decoration: none;
    color: aliceblue;
  }
  .trending {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .featured-events-img {
    display: none;
  }
  .featured-events-txt {
    background: url(../images/outlawville.png);
    padding: 1rem;
  }
  .featured-events {
    padding: 1rem;
    color: #fff;
  }
  .nav-content li.show {
    left: 0;
  }
}

/* Styles for devices with a width between 601px and 1200px */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
}
